# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.env.bak/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
*.sqlite3

# Temporary files
*.tmp
*.bak

# Codes, Keys
.env
receipt-splitter-476008-b3a0f596ea5c